In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#read csv file
summer_df=pd.read_csv('data/summer_gdp2.csv')

In [3]:
summer_df.head()

,id,year,city,sport,discipline,country,gender,event,medal,full_country,gdp
0,29189,2008,Beijing,Wrestling,Wrestling Gre-R,ARM,Men,- 55KG,Bronze,Armenia,1.166204e+10
1,29139,2008,Beijing,Weightlifting,Weightlifting,ARM,Men,85KG,Bronze,Armenia,1.166204e+10
2,29136,2008,Beijing,Weightlifting,Weightlifting,ARM,Men,77KG,Bronze,Armenia,1.166204e+10
3,10696,1964,Tokyo,Aquatics,Swimming,AUS,Women,100M Freestyle,Gold,Australia,2.378766e+10
4,11715,1968,Mexico,Aquatics,Swimming,AUS,Men,100M Freestyle,Gold,Australia,3.268787e+10

In [22]:
#medal count by year for each country
medal_count_df=summer_df.groupby(['country','year','gdp']).count()
medal_count_df=medal_count_df[['medal']]
medal_count_df.rename(columns={'medal':'medal_total'},inplace=True)
medal_count_df.reset_index(inplace=True)
medal_count_df.head()

  country  year           gdp  medal_total
0     AFG  2008  1.019053e+10            1
1     AFG  2012  2.053654e+10            1
2     ALG  1984  5.369828e+10            2
3     ALG  1992  4.800330e+10            2
4     ALG  1996  4.694150e+10            3