In [1]:
import pandas as pd

In [2]:
#bring in original csv file
df=pd.read_csv("data/summer.csv")

In [5]:
#a count of commas -- the commas in the data is causing confusion with SQL as commas are also used as the delimiter
count=0
for col in df:
    if df[col].dtype==object:
        print(f'{col}: {df[col].str.contains(",").sum()}')
            
print (count)

City: 0
Sport: 0
Discipline: 0
Athlete: 30980
Country: 0
Gender: 0
Event: 1385
Medal: 0
0

In [6]:
#replace the commas in data
for col in df:
    if df[col].dtype==object:
        df[col]=df[col].str.replace(',','/')

In [7]:
#check commas again to make sure problem is fixed
count=0
for col in df:
    if df[col].dtype==object:
        print(f'{col}: {df[col].str.contains(",").sum()}')
            
print (count)

City: 0
Sport: 0
Discipline: 0
Athlete: 0
Country: 0
Gender: 0
Event: 0
Medal: 0
0

In [ ]:
#save an updated csv to import into postgres
df.to_csv("data/summer_delim.csv")

In [8]:
#I had to hard code this because ISO abbreviations are different from standard abbr
    country_ISO_List = {
        "AFG": "Afghanistan",
        "AHO": "Netherlands Antilles",
        "ALG": "Algeria",
        "ANZ": "Austria",
        "ARG": "Argentina",
        "ARM": "Armenia",
        "AUS": "Australia",
        "AUT": "Austria",
        "AZE": "Azerbaijan",
        "BAH": "Bahamas",
        "BAR": "Barbados",
        "BDI": "Burundi",
        "BEL": "Belgium",
        "BER": "Bermuda",
        "BLR": "Belarus",
        "BOH": "Bohemia",
        "BOT": "Botswana",
        "BRA": "Brazil",
        "BRN": "Bahrain",
        "BUL": "Bulgaria",
        "CAN": "Canada",
        "CHI": "Chile",
        "CHN": "China",
        "CIV": "CÃ´te d'Ivoire",
        "CMR": "Cameroon",
        "COL": "Colombia",
        "CRC": "Costa Rica",
        "CRO": "Croatia",
        "CUB": "Cuba",
        "CYP": "Cyprus",
        "CZE": "Czechia",
        "DEN": "Denmark",
        "DJI": "Djibouti",
        "DOM": "Dominican Republic",
        "ECU": "Ecuador",
        "EGY": "Egypt",
        "ERI": "Eritrea",
        "ESP": "Spain",
        "EST": "Estonia",
        "ETH": "Ethiopia",
        "EUN" : "Unified Team",
        "FIJ": "Fiji",
        "FIN": "Finland",
        "FRA": "France",
        "FRG": "Germany",    
        "GAB": "Gabon",
        "GBR": "Great Britain",
        "GDR": "East Germany",
        "GEO": "Georgia",
        "GER": "Germany",
        "GHA": "Ghana",
        "GRE": "Greece",
        "GRN": "Grenada",
        "GUA": "Guatemala",
        "GUY": "Guyana",
        "HAI": "Haiti",
        "HKG": "Hong Kong",
        "HUN": "Hungary",
        "INA": "Indonesia",
        "IND": "India",
        "IOA": "Individual",
        "IRI": "Iran",
        "IRL": "Ireland",
        "IRQ": "Iraq",
        "ISL": "Iceland",
        "ISR": "Israel",
        "ISV": "Virgin Islands",
        "ITA": "Italy",
        "JAM": "Jamaica",
        "JOR": "Jordan",
        "JPN": "Japan",
        "KAZ": "Kazakhstan",
        "KEN": "Kenya",
        "KGZ": "Kyrgyzstan",
        "KOR": "South Korea",
        "KSA": "Saudi Arabia",
        "KUW": "Kuwait",
        "LAT": "Latvia",
        "LIB": "Lebanon",
        "LIE": "Liechtenstein",
        "LTU": "Lithuania",
        "LUX": "Luxembourg", 
        "MAR": "Morocco",
        "MAS": "Malaysia",
        "MDA": "Moldova",
        "MEX": "Mexico",
        "MGL": "Mongolia",
        "MKD": "Macedonia",
        "MNE": "Montenegro",
        "MON": "Monaco",
        "MOZ": "Mozambique",
        "MRI": "Mauritius",
        "NAM": "Namibia",
        "NED": "Netherlands",
        "NEP": "Nepal",
        "NGR": "Nigeria",
        "NIG": "Nicaragua",
        "NOR": "Norway",
        "NZL": "New Zealand",
        "PAK": "Pakistan",
        "PAN": "Panama",
        "PAR": "Paraguay",
        "PER": "Peru",
        "PHI": "Philippines",
        "POL": "Poland",
        "POR": "Portugal",
        "PRK": "North Korea",
        "PUR": "Puerto Rico",
        "QAT": "Qatar",
        "ROU": "Romania",
        "RSA": "South Africa",
        "RUS": "Russia",
        "SCG": "Serbia and Montenegro",
        "SEN": "Senegal",
        "SGP": "Singapore",
        "SLO": "Slovenia",
        "SRB": "Serbia",
        "SRI": "Sri Lanka",
        "SUD": "Sudan",
        "SUI": "Switzerland",
        "SUR": "Suriname",
        "SVK": "Slovakia",
        "SWE": "Sweden",
        "SYR": "Syrian Arab Republic",
        "TAN": "Tanzania",
        "TCH": "Czechoslovakia",
        "TGA": "Tonga",
        "THA": "Thailand",
        "TJK": "Tajikistan",
        "TOG": "Togo",
        "TPE": "China",
        "TTO": "Trinidad and Tobago","TUN": "Tunisia",
        "TUN": "Tunisia",
        "TUR": "Turkey",
        "UAE": "United Arab Emirates",
        "UAR": "Egypt",
        "UGA": "Uganda",
        "UKR": "Ukraine",
        "URS": "Russia",
        "URU": "Uruguay",
        "USA": "United States",
        "UZB": "Uzbekistan",
        "VEN": "Venezuela",
        "VIE": "Vietnam",
        "WIF": "Wallis and Futuna",
        "YUG": "Yugoslavia",
        "ZAM": "Zambia",
        "ZIM": "Zimbabwe"
    }

In [23]:
#build dataframee to import into sql
col1=[]
col2=[]

for key, value in country_ISO_List.items():
    col1.append(key)
    col2.append(value)

country_df=pd.DataFrame({'abbr':col1,'country':col2})
country_df.head()

  abbr               country
0  AFG           Afghanistan
1  AHO  Netherlands Antilles
2  ALG               Algeria
3  ANZ               Austria
4  ARG             Argentina

In [24]:
country_df.to_csv("data/country_abbr")